/* Design for photoDetailsModal */

.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 80%;
  width: 55%;
  overflow-y: scroll;
  margin-bottom: 25px;
  object-fit: cover;
  padding: 25px;
  border-radius: 5px;

  .photo-list-item {
    width: 400px;
  }

  .photolist-similar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    margin-top: 1em;

    .photo-list-item {
      width: 42%;
    }
  }
}

.photo-details-modal--content .photolist-main {
  width: 80%;
  height: 300px;
  border-radius: 5px;
  display: flex;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 1em;

  .favorite-icon {
    top: 85px;
    left: 35px;
    position: absolute;
  }
}

.photo-details-modal--content img {
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: auto;
  object-fit: cover; //aadjust height and width
}

.photo-details-modal__close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
}

.photo-details-modal__images {
  margin-left: 36px;
  margin-top: 8px;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.photo-details-modal__image {
  max-width: 95%;
  border-radius: 8px;
  justify-content: space-between;
  display: flex;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.photo-details-modal__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
}

.photo-details-modal__photographer-details {
  display: flex;
  font-size: 16px;
}

.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 90%;
}
